
@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /*плавная прокрутка*/
}

a,
button,
input[type="submit"] {
    transition: .3s;
}

button:active,
button:focus {
    outline: none;
}

/*проверочный шрифт "Comic Sans MS"*/
body {
    font-family: OpenSans, "Comic Sans MS", Arial, sans-serif;
}

.font__BigJohn {
    font-family: BigJohn, Arial;
}

.font__SourceSansPro {
    font-family: SourceSansPro-Light;
}

.container {
    width: 100%;
    max-width: 1170px; /*ширина*/
    margin: 0 auto; /*убираем отступы*/
}

header {
    display: flex;
    justify-content: space-between;
}

.section {
    padding: 80px 0 100px;
}

.width {
    max-width: 460px;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    text-transform: uppercase; /*все буквы большие*/
    font-size: 25px;
    /*font-weight: bold;*/
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.navigation {
    display: inline-block;

}

.menu-nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    /*background-clip: padding-box; Фон отображается внутри границ*/
    border: 1px solid transparent; /*Устанавливает прозрачный цвет рамки*/
    border-radius: 40px;
    text-align: center;
    padding: 8px 20px; /*поля*/
}

.menu-nav a:hover {
    border-color: white;
}

.main-background {
    position: relative; /*Родител-й элем*/
    min-height: 100vh; /*мин высота*/
    background-image: url("../img/main_bg.png");
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-size: cover; /*ширина и высота изображ-я = ширине или высоте блока*/
    color: white;
    /*background-color: black;*/
    /*opacity: .8;*/
    /*box-shadow: 0 14px 28px rgba(0,0,0, 1), 0 10px 10px rgba(0,0,0, 1);*/
}

.main-background::after {
    content: '';
    position: absolute;
    z-index: 2;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-background .container {
    position: relative;
    z-index: 5;
    min-height: 100vh;
    padding-top: 40px;
}

.text-block {
    text-align: center;
}

.title {
    padding-top: 30vh;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-weight: 100;
}

.subtitle {
    text-transform: uppercase; /* Заглавные буквы */
    color: #333b46;
    font-size: 20px;
    font-weight: 100; /*тонкое начертание*/
    font-family: SourceSansPro-Light;
}

.small-subtitle {
    font-size: 20px;
    color: #464646;
    font-weight: 100;
    text-transform: capitalize;
}

.text {
    font-size: 14px;
    color: #81868e;
}

.text__s {
    font-size: 20px;
    color: #81868e;
}

.text__uppercase-italic {
    font-size: 14px;
    color: #81868e;
    text-transform: uppercase; /* Заглавные буквы */
    font-weight: 100; /*тонкое начертание*/
    font-style: italic;
}

.text__small {
    font-size: 14px;
}

.text__white {
    color: #fff;
}

.text__grey {
    color: #81868e;
}

.text__white-grey {
    color: #f3f3f3;
    font-size: 20px;
    padding-bottom: 60px;
    font-weight: 100;
    text-transform: uppercase
}

.text__light-grey {
    color: #b2b3b3;
}

.text_size__s {
    font-size: 16px;
    padding-bottom: 30px;
}

.text_size__m {
    font-size: 20px;
}

.text_size__xl {
    font-size: 30px;
    text-transform: uppercase;
}

.text_size__xxl {
    font-size: 42px;
    color: #1fbba6;
    font-family: SourceSansPro-Light;
    font-weight: bold;
    /*margin-top: 100px;*/
}

.text__uppercase {
    text-transform: uppercase; /* Заглавные буквы */
    font-weight: 100; /*тонкое начертание*/
}

.text__transform {
    text-transform: capitalize;
}

.bold {
    font-weight: 800;
}

.bold-middle {
    font-weight: 600;
}

.go-down-button-wrapper {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
}

a.go-down-button {
    position: relative; /*относит-е позиц-е, лева/права. Родител-й элем*/
    z-index: 1;
    display: inline-block; /*внутр.часть форматируется как блочный элемент, а сам эдемент - как строчный*/
    width: 36px;
    height: 36px;
    border-radius: 100%;
    outline: none; /*параметры рамки*/
    background: #19bd9a;
    /*box-shadow: 0 1px rgba(0,0,0,.1) inset, 0 1px #fff; /*параметры тени*/
}

a.go-down-button:hover {
    background: #fff;
}

a.go-down-button:after, a.go-down-button:before { /*псевдоэлементы, вставляет некотор. содер. после/до элемента*/
    content: ""; /*текст, который добав-ся*/
    position: absolute; /*абссол-е позиц-е, позицион-ся в верх. точке браузера*/
    z-index: -1; /*порядок накладыв-я элементов, работает только с position*/
    top: 7.5%; /*расстоя-е от верхнего края родит-го элем*/
    left: -15%;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 10%;
    margin: auto; /*размер отступов будет автомат-ки рассчитан браузером*/
    background: white;
    /*box-shadow: 0 1px rgba(0,0,0,.1) inset, 0 1px #fff;*/
    -webkit-transform: rotate(45deg); /* для Chrome, Safari and Opera. поворач-т элемент*/
    transform: rotate(45deg);
}

a.go-down-button:hover:after, a.go-down-button:hover:before {
    background: #19bd9a;
}

a.go-down-button:before { /*до*/
    left: 15%;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}

.about-us_container {
    display: flex;
    justify-content: space-between;
    align-items: center; /*выравн-т флекс-элементы внутри контейнера*/
    max-width: 840px;
    padding-top: 80px;
    padding-bottom: 70px;

}

.about-us_left {
    max-width: 470px;

}

.button-read {
    text-decoration: none;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 40px;
    text-align: center;
    padding: 10px 30px; /*поля*/
    margin-top: 35px;
    text-transform: capitalize;
    display: inline-block;
    color: #333b46;
}

.button-read:hover {
    background-color: #19bd9a;
    color: #fff;
    border-color: #19bd9a;
}

.about-us_text {
    padding-top: 50px;
}

/*.details { !*1й div и ему же нужно задавать отступы!!!*!*/
/*!*width: 570px;*!*/
/*!*margin: 75px auto;*! !*auto - по середине*!*/
/*text-align: center;*/

/*}*/

.details-title {
    text-transform: uppercase;
    color: #333b46;
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 35px;
    padding-top: 75px;
}

.details_text {
    padding: 40px 0 60px;
}

.circle-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px; /*родитель, на всю высоту*/
    background-color: #81868e;
    border-radius: 50%;
    color: white;
    margin-right: 15px;
    cursor: pointer;
}

.circle-icon svg {
    vertical-align: middle; /*иконка по центру, по вертик., дочерн.эл*/
}

.circle-icon:hover {
    background-color: #19bd9a;
}

.details {
    padding: 80px 0 100px;
    background-color: #f3f3f3;
}

.details_small-subtitle {
    padding-top: 55px;
    padding-bottom: 35px;
    text-align: left;
    font-weight: 100; /*тонкое начертание*/
    text-transform: capitalize; /*каждое слово заглавной буквы*/
    font-size: 20px;
    color: #464646;
}

.details_row {
    display: flex;
}

.details_col {
    text-align: left;
}

.details_small-subtitle,
.details_col__left {
    margin-left: 70px;
}

.details_col__left {
    max-width: 330px;
}

.details_col__right {
    max-width: 550px;
    margin-left: 115px;
}

.select-bold {
    font-weight: 600;
    color: #636971;
}

.link {
    color: #19bd9a;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase; /* Заглавные буквы */
    font-size: 16px;
}

.select-link {
    color: #19bd9a;
    font-weight: 600;
    text-decoration: none;
}

.featured-projects {
    padding-top: 75px;
    text-align: center;
}

.featured-projects_text {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 470px;
    margin: 0 auto; /*по центру*/
}

.featured-projects_thumbnails { /*родитель*/
    display: flex; /*отображ.контейнер как блочный элемент*/
}

.thumbnail-item {
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; /*отображать середину картинки*/
    position: relative; /*родитель*/
}

.thumbnail-item__1 {
    background-image: url("../img/Layer-1.png")
}

.thumbnail-item__2 {
    background-image: url("../img/Layer-2.png")
}

.thumbnail-item__3 {
    background-image: url("../img/Layer-3.png")
}

.thumbnail-item__1 {
    width: 50%;
}

.thumbnail-item__2,
.thumbnail-item__3 {
    width: 25%;
}

/*Shadow: тень*/
.thumbnail-item::after {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .3s;
}

.thumbnail-item::before {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    /*text-align: center; position не реагирует на text-align!!!!!*/
    color: white;
    font-size: 20px;
    font-family: SourceSansPro-Light;
    z-index: 3;
    display: block;
    width: 100%;
    transition: .3s;
}

.thumbnail-item__1:before {
    content: 'Whiskey';
}

.thumbnail-item__2:before {
    content: 'Vintage';
}

.thumbnail-item__3:before {
    content: 'Branding';
}

.thumbnail-item:hover::before, /*при наведении исчезает надпись */
.thumbnail-item:hover::after {
    opacity: 0;
    visibility: hidden; /*для отмены прозрачности*/
    transition: .3s;
}

.featured-projects_container {
    padding: 0 70px;
}

.featured-projects_submit-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /*Флексы выравниваются по линии поперечной оси.*/
    height: 100%;
    position: relative;
    z-index: 3;
}

.featured-projects_submit {
    height: 114px;
    background-image: url("../img/sneakers.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 53%; /*отображать середину картинки*/
    position: relative; /*родитель*/
}

/*Shadow: тень*/
.featured-projects_submit::after {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #19a486;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.submit {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 40px;
    text-align: center;
    padding: 10px 25px;
    text-transform: capitalize;
}

.submit:hover {
    background-color: #19bd9a;
    border-color: #19bd9a;
}

.service {
    background-color: #f3f3f3;
}

.service_container {
    padding: 80px 70px;
    text-align: center;
}

.service-text {
    max-width: 570px;
    padding: 40px 50px 60px;
    margin: 0 auto; /*по центру*/
}

.small-subtitle_left {
    text-align: left;
    display: inline-flex;
    flex-direction: column;
}

.ideas-text {
    max-width: 400px;
    text-align: left;
    padding-top: 30px;
}

.service_col {
    text-align: left;
    display: flex;
    align-items: flex-start;
}

.service_icons {
    display: inline-flex;
    flex-direction: column;
}

.service_icon:last-child {
    margin-bottom: 0;
}

.service_icon {
    margin-right: 40px;
    margin-bottom: 15px;
    text-align: center;
}

.service_row {
    display: flex;
    justify-content: space-between;
}

.service_col-right {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-wrap: wrap; /*Флексы выстраиваются в несколько строк*/
    justify-content: space-between; /*Флексы равномерно распределяются по всей строке. Пустое пространство перед первым и после последнего элементов равно половине пространства между двумя соседними элементами.*/
    align-items: center;
    align-content: center; /*Строки располагаются по центру контейнера.*/
}

.w__120 {
    /*width: 124px;*/
    margin-top: 20px;
}

.circle-chart__circle {
    animation: circle-chart-fill 2s reverse; /* reverse-«Обратное» направление анимации */
    transform: rotate(-90deg) scale(1, -1);; /* 2, 3 */
    transform-origin: center; /* Устанавливает координаты точки, относительно которой будет происходить трансформация элемента. */
}

.circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
}

@keyframes circle-chart-fill {
    to {
        stroke-dasharray: 100;
    }
}

@keyframes circle-chart-appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.manager {
    position: relative;
}

.manager_bg {
    min-height: 390px;
    background-image: url(../img/guy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); /*Извлекает все цвета из картинки, делая на выходе черно-белое изображение. Значение задается в % или десятичных дробях. Чем больше значение, тем сильнее эффект*/
}

.manager::after {
    content: '';
    position: absolute;
    z-index: 2;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.manager_content {
    position: absolute; /*блок над блоком!!!!!!!!*/
    width: 100%;
    top: 0;
    left: 0;
}

.manager_container {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 100px;
    position: relative;
    z-index: 3;
}

.manager_left {
    max-width: 600px;
}

.uppercase-link {
    color: #19bd9a;
    text-decoration: none;
}

.manager_right {
    margin-top: -115px;
    position: relative; /*родитель*/
}

.manager_right-text {
    position: absolute; /*блок над блоком!!!!!!!!дочерн.элемент*/
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    margin-top: 100px;
}

.color {
    color: #19bd9a;
}

.center {
    text-align: center;
}

.portfolio_text {
    max-width: 460px;
    margin: 0 auto;
    padding: 40px 0 80px;
}

.portfolio_nav {
    text-decoration: none;
    color: #464646;
    font-size: 16px;
    border: 1px solid transparent;
    text-align: center;
    padding: 15px 12px;
    position: relative;
    text-transform: capitalize; /*каждое слово заглавной буквы*/
}

.portfolio_nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 2px;
    width: 50px;
    background-color: #19bd9a;
    opacity: 0;
    visibility: hidden;
    transition: .1s;
}

.portfolio_nav.active::after,
.portfolio_nav:hover::after {
    opacity: 1;
    visibility: visible;
}

.portfolio_pictures { /*родитель*/
    padding: 60px 30px 40px;
    column-count: 4;
    column-gap: 10px; /*отступ между колонками*/
    transition: .3s;
}

.portfolio_picture { /*для всех картинок*/
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; /*отображать середину картинки*/
    margin-bottom: 5px;
    position: relative;
    overflow: hidden; /*Отображается только область внутри элемента, остальное будет скрыто.*/
    /*width: calc(25% - (30px/4)); отступ между колонками*/
}

.portfolio_picture::after {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.portfolio_picture:hover::after {
    /*z-index: 1;*/
    opacity: 0.7;
    visibility: visible;
}

.portfolio_picture-1 {
    background-image: url("../img/portf-1.png");
    height: 360px;
}

.portfolio_picture-2 {
    background-image: url("../img/portf-2.png");
    height: 230px;
}

.portfolio_picture-3 {
    background-image: url("../img/portf-3.png");
    height: 300px;
}

.portfolio_picture-4 {
    background-image: url("../img/portf-4.png");
    height: 360px;
}

.portfolio_picture-5 {
    background-image: url("../img/portf-5.png");
    height: 360px;
}

.portfolio_picture-6 {
    background-image: url("../img/portf-6.png");
    height: 340px;
}

.portfolio_picture-7 {
    background-image: url("../img/portf-7.png");
    height: 370px;
}

.portfolio_picture-8 {
    background-image: url("../img/portf-8.png");
    height: 270px;
}

.portfolio_picture-9 {
    background-image: url("../img/portf-9.png");
    height: 210px;
}

.portfolio_picture-10 {
    background-image: url("../img/portf-10.png");
    height: 360px;
}

.portfolio_picture-11 {
    background-image: url("../img/portf-11.png");
    height: 260px;
}

.portfolio_picture-12 {
    background-image: url("../img/portf-12.png");
    height: 300px;
}

.portfolio_overlay {
    position: relative;
    text-align: left;
    width: 70%;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
}

.portfolio_overlay h2 {
    font-family: SourceSansPro-Light;
}
.title-overlay {
    position: relative;
    padding-bottom: 10px;
}

.title-overlay::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 20px;
    background-color: #19bd9a;
    opacity: 1;
    visibility: visible;
    transition: .1s;
}

.portfolio_picture:hover .portfolio_overlay /*при наведении появляется надпись */
{
    opacity: 1;
    visibility: visible; /*для отмены прозрачности*/
    display: block;
    z-index: 5;
}

.portfolio_text-hover {
    padding-top: 20px;
    padding-bottom: 40px;
}

.portfolio_icons {
    position: relative;
    margin-right: 5px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 55px;
    /*text-align: left;*/
}

.portfolio-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 33px; /*родитель, на всю высоту*/
    background-color: black;
    border-radius: 50%;
    color: white;
    text-align: center;
}

.portfolio-icon:hover {
    background-color: #19bd9a;
}

.portfolio_footer {
    /*display: flex;*/
    align-items: center;
    background-image: url("../img/portf-footer.png");
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%; /*50 50 - отображать середину картинки*/
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
}

.portfolio_footer::after {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #19bd9a; /*#19a486;*/
    opacity: 0.7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.portfolio_footer-overlay {
    z-index: 5;
    text-align: center;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
}

.portfolio_footer-text {
    color: white;
    font-weight: 100;
    padding-bottom: 30px;
}

.team {
    padding: 80px 0 100px;
}

.team_text {
    max-width: 460px;
    margin: 0 auto;
    padding-top: 40px;
}

.team_container {
    display: flex;
    justify-content: space-between;
    padding: 60px 70px;
}

.team_left {
    width: 285px;
    height: 365px;
    background-image: url("../img/man.png");
    background-repeat: no-repeat;
    position: relative;
    transition: 3s;
}

.team_left::after { /*тень спрятана*/
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    height: calc(100% - 16px); /*тень будет не на всю картинку, 16/2=8px с каждой стороны*/
    width: calc(100% - 16px);
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    top: 8px;
    /*bottom: 0;*/
    left: 8px;
    /*right: 0;*/
    transition: .3s;
}

.team_left:hover::after {
    opacity: 0.7;
    visibility: visible;
}

.team_icons {
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    top: 50%;
    visibility: hidden;
    opacity: 0;
}

.team_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    line-height: 30px; /*родитель, на всю высоту*/
    background-color: #2d2940;
    border-radius: 50%;
    color: #c6c5c8;
    text-align: center;
}

.team_left:hover .team_icons /*при наведении на 1 блок(на картинку) появляется другой (текст) */
{
    opacity: 1;
    visibility: visible; /*для отмены прозрачности*/
    display: block;
    z-index: 5;
}

.team_icon:hover {
    background-color: #19bd9a;
}

.team_right-text {
    text-align: right;
    max-width: 430px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.line {
    border-right: 3px solid #19bd9a; /* Параметры линии */
    /*margin-right: 20px; /* Отступ справа */
    padding-right: 50px; /* Расстояние от линии до текста */
}

.team_right-details {
    padding-top: 30px;
    padding-right: 50px;
}

.team_right-diagrams {
    max-width: 330px;
    margin: 35px auto;
    font-family: SourceSansPro-Light;
}

.line-chart-lines {
    height: 4px;
    position: relative;
    overflow: hidden;
}

.line-chart {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.line-chart__background {
    background-color: #e1e4e9;
    width: 100%;
    z-index: 1;
}

.line-chart__line {
    background-color: #19bd9a;
    /*width: 80%;*/
    z-index: 2;
    transform: translateX(0); /*сдвигает элемент на новое место*/
    animation: line-chart-fill 2s; /*связующее имя + 2сек длительность анимации*/
}

@keyframes line-chart-fill { /*сама анимация*/
    from {
        transform: translateX(-100%); /*1й кадр анимации*/
    }

    to {
        transform: translateX(0); /*конечный кадр*/
    }

}

.above_line {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.team-icon {
    display: inline-block;
    border: none;
    background: transparent;
    /*width: 10px;*/
    /*height: 10px;*/
    /*line-height: 50px; /*родитель, на всю высоту*/
    /*background-color: white;*/
    /*border: 1px solid #19bd9a;*/
    /*border-color: ;*/
    /*border-radius: 50%;*/
    /*margin-right: 10px;*/
    padding: 10px;
    cursor: pointer;
}

.team-icon span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #19bd9a;
    border-radius: 50%;
}

.team-icon:hover span {
    background-color: #19bd9a;
}

.team-icon:last-child {
    /*margin-right: 0;*/
}

.contact_us {
    position: relative;
}

.contact_us-bg {
    height: 200px;
    background-image: url(../img/background-block8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 61%;
    filter: grayscale(100%); /*Извлекает все цвета из картинки, делая на выходе черно-белое изображение. Значение задается в % или десятичных дробях. Чем больше значение, тем сильнее эффект*/
}

.contact_us::after {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.9;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.contact_us-text {
    font-weight: 100; /*тонкое начертание*/
    text-transform: capitalize;
    padding-bottom: 30px;
}

.mention_text {
    max-width: 460px;
    margin: 0 auto;
    padding: 40px 0 60px;
}

.row-bg {
    background-color: white;
}

.mention_left {
    padding-top: 50px;
    padding-left: 100px;
}

.mention_right {
    max-width: 760px;
    padding-top: 60px;
    margin-right: 115px;
    text-align: left;
}

.under_text {
    font-size: 14px;
    color: #464646;
    text-transform: uppercase; /* Заглавные буквы */
    font-weight: 500;
    padding-bottom: 50px;
}

.mention_icons {
    padding-bottom: 60px;
}

.blog {
    position: relative; /*для тени*/
}

.blog_bg {
    min-height: 690px;
    background-image: url(../img/bg_10.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 70%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); /*Извлекает все цвета из картинки, делая на выходе черно-белое изображение. Значение задается в % или десятичных дробях. Чем больше значение, тем сильнее эффект*/
}

.blog::after {
    content: '';
    position: absolute; /*тень*/
    z-index: 2;
    display: block;
    height: 100%;
    width: 100%;
    /*opacity: 0.8;*/
    /*background-color: rgba(0, 0, 0, 0.8);*/
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.95) 30%, rgba(0, 0, 0, 0.8) 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.text_white {
    color: #fff;
    font-size: 20px;
    /*padding-bottom: 40px;*/
    font-weight: 100;
    text-transform: uppercase
}

.blog__content {
    position: absolute; /*блок над блоком!!!!!!!!*/
    z-index: 3; /*для того чтобы текст был видин, он наложен поверх всех блоков*/
    width: 100%;
    top: 0;
    left: 0;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.flex {
    display: flex;
    justify-content: space-between;
}

.text_blog-left {
    font-size: 14px;
    color: #b2b3b3;
    max-width: 470px;
    padding-top: 40px;
    padding-bottom: 100px;
}

.text_blog-comments {
    max-width: 600px;
    margin-left: 70px;
}

.blog_details {
    font-size: 20px;
    color: #e1e4e9;
    font-weight: 100;
}

.text_blog-comment {
    font-size: 14px;
    color: #464646;
    padding-top: 15px;
    padding-bottom: 60px;
}

.read {
    display: inline-block;
    text-decoration: none;
    color: #b2b3b3;
    font-size: 16px;
    border: 1px solid transparent;
    /*border-radius: 40px;*/
    /*text-align: center;*/
    padding-top: 50px;
    text-transform: capitalize;
}

.read:hover {
    color: #19bd9a;
}

.blog-icon {
    display: inline-block;
    border: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
}

.blog-icon span {
    display: inline-block;
    width: 10px;
    height: 10px;
    /*line-height: 50px;*/
    background-color: transparent;
    border: 1px solid #b2b3b3;
    border-radius: 50%;
}

.blog-icon:hover span {
    background-color: #b2b3b3;
}

/*.blog-icon:last-child {*/
    /*margin-bottom: 0;*/
/*}*/

.blog_right {
    /*display: inline-flex;*/
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
}

.prices {
    max-width: 830px;
    display: flex;
    flex-direction: row;
    /*text-align: center;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    margin: 0 auto;
}

.price {
    position: relative;
    /*height: 300px;*/
    /*width: calc(33.33% - (140/3));*/
    width: calc(100% / 3);
    background-color: #fff;
    margin-right: 70px;
}

.price:last-child {
    margin-right: 0;
}

.price_blog-1 {
    background-color: #19bd9a;
    height: 70px;
    line-height: 70px;
}

.price_blog-2 {
    height: 70px;
    background-color: #19bd9a;
    position: relative;
}

.absolute {
    position: absolute;
    top: 50%;
    width: 100%;
}

.price_text {
    font-size: 16px;
    color: #fff;
    font-weight: 100;
    text-transform: capitalize;
    position: absolute;
    top: 40%;
    width: 100%;
}

.price_blog-text {
    max-height: 230px;
}

.price_blog-text p {
    margin: 30px;
    text-align: left;
}

.subscribe_us {
    position: relative;
}

.subscribe_us-bg {
    height: 380px;
    background-image: url(../img/block-12.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 49% 75%;
    filter: grayscale(100%); /*Извлекает все цвета из картинки, делая на выходе черно-белое изображение. Значение задается в % или десятичных дробях. Чем больше значение, тем сильнее эффект*/
}

.subscribe_us::after {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.subscribe_us-overlay {
    z-index: 5;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.email {
    display: inline-block;
    text-decoration: none;
    color: #cfd3d4;
    font-size: 14px;
    border: 1px solid #81868e;
    /*border-radius: 40px;*/
    text-align: left;
    /*padding: 15px 240px 15px 20px;*/
    padding: 15px;
    width: 30%;
    /*text-transform: capitalize;*/
    background-color: transparent;
}

.email:focus {
    outline-color: #fff;
}

.submit_active {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    border: 1px solid #19bd9a;
    /*border-radius: 40px;*/
    text-align: center;
    padding: 15px;
    width: 20%;
    background-color: #19bd9a;
    text-transform: uppercase; /* Заглавные буквы */
    cursor: pointer;
}

.submit_active:focus,
.submit_active:hover {
    color: #19bd9a;
    background-color: transparent;
    border-color: #81868e;
    outline-color: #fff;
}

.find_us {
    max-width: 940px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.find {
    position: relative;
    /*height: 300px;*/
    /*width: calc(33.33% - (140/3));*/
    width: calc(100% / 3);
    background-color: #fff;
    margin-right: 40px;
}

.find:last-child {
    margin-right: 0;
}

.find_block {
    /*line-height: 70px;*/
    position: relative;
    height: 145px;
    color: #fff;
    filter: grayscale(100%); /*Извлекает все цвета из картинки, делая на выходе черно-белое изображение. Значение задается в % или десятичных дробях. Чем больше значение, тем сильнее эффект*/
    background-size: cover;
}

.find_block-1 {
    background: url(../img/portf-12.png) no-repeat 50% 50%;
}

.find_block-2 {
    background: url(../img/portf-10.png) no-repeat 50% 50%;
}

.find_block-3 {
    background: url(../img/portf-4.png) no-repeat 50% 50%;
}

.find_block-1::after,
.find_block-2::after,
.find_block-3::after {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #323a45;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.find_block svg { /*для того чтобы иконка налажилась сверху*/
    position: relative;
    z-index: 10;
    top: 40%; /*по середине блока*/
}

.text__email {
    font-size: 16px;
    color: #464646;
    text-transform: uppercase; /* Заглавные буквы */
    font-weight: 100; /*тонкое начертание*/
    padding-bottom: 17px;
}

.find_text {
    padding: 30px;
}

.forms {
    padding-top: 80px;
    padding-bottom: 130px;
}

.forms__row-1 {
    max-width: 940px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.form__row-1 {
    width: calc(100% / 3);
    margin-right: 10px;
}

.form__row-1:last-child {
    margin-right: 0;
}

.forms__details {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #d8dce0;
    text-align: left;
    width: 100%;
    padding: 15px 20px;
}

.forms__details:focus {
    outline-color: #fff;
}

input .forms__details {
    transition: none;
}

.forms__row-2 {
    margin: 30px 115px 0;
}

.forms__row-2_details {
    font-size: 14px;
    border: 1px solid #d8dce0;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 30px;
    min-height: 190px;
    box-sizing: border-box; /* Алгоритм расчёта ширины */
}

.forms__row-2_details:focus {
    outline-color: #fff;
}

.submit_form {
    color: white;
    font-size: 16px;
    border: 1px solid #19bd9a;
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: #19bd9a;
    text-transform: uppercase;
    cursor: pointer;
}

.submit_form:hover {
    color: #19bd9a;
    background-color: #d3f1ff;
    border-color: #fff;
}

.map {
    position: relative;
}

.map-bg {
    height: 500px;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: 49% 75%;*/
}

.map::after {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.text_map {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase; /* Заглавные буквы */
    font-weight: 100; /*тонкое начертание*/
    /*margin: 0 auto;*/
    padding-right: 15px;
}

.map-overlay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
}

.circle_little-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px; /*по середине!!! для 1го элемента*/
    background-color: #19bd9a;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    text-align: center;
}

.circle_little-icon svg {
    vertical-align: middle; /*иконка по центру, по вертик., дочерн.эл*/
}

.footer__details {
    padding: 80px 0 90px;
    background-color: #f3f3f3;
}

.subtitle__footer {
    text-transform: uppercase; /*все буквы большие*/
    font-size: 25px;
    font-weight: 500;
    color: #323a45;
    padding-bottom: 25px;
}

.footer__icons {
    padding-top: 40px;
}

.footer_icons {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    line-height: 30px; /*родитель, на всю высоту*/
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.footer_icons:last-child {
    margin-right: 0;
}

.footer_icons:hover {
    background-color: transparent;
}

.footer_icon-1 {
    background-color: #3b5998;
    border: 1px solid #3b5998;
}

.footer_icon-1:hover {
    color: #3b5998;
}

.footer_icon-2 {
    background-color: #26a6d1;
    border: 1px solid #26a6d1;
}

.footer_icon-2:hover {
    color: #26a6d1;
}

.footer_icon-3 {
    background-color: #0e76a8;
    border: 1px solid #0e76a8;
}

.footer_icon-3:hover {
    color: #0e76a8;
}

.footer_icon-4 {
    background-color: #3f729b;
    border: 1px solid #3f729b;
}

.footer_icon-4:hover {
    color: #3f729b;
}

.footer_icon-5 {
    background-color: #86c9ef;
    border: 1px solid #86c9ef;
}

.footer_icon-5:hover {
    color: #86c9ef;
}

/*iPad Pro (1024px) and smaller: */
@media screen and (max-width: 1024px) {
    .container {
        padding: 80px 40px;
    }

    .menu-nav a {
        padding: 8px 10px; /*поля*/
    }

    .submit {
        font-size: 14px;
        /*padding: 10px 10px;*/
    }

    .details {
        padding: 0 0;
    }

    .service_icon {
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .ideas-text {
        max-width: 300px;
        padding-top: 30px;
    }

    .service_col-right {
        max-width: 400px;
    }

    .manager_bg {
        background-size: auto;
    }

    .manager_left {
        max-width: 300px;
    }

    .portfolio_pictures {
        column-count: 2;
    }

    .team_container {
        padding: 60px 0;
    }

    .mention_left {
        padding-left: 30px;
    }

    .mention_right {
        max-width: 60%;
        margin-right: 10%;
    }

    .featured-projects {
        padding-top: 0;
    }

    .featured-projects_submit-container {
        padding: 20px;
    }

    .team {
        padding: 0;
    }

    .portfolio_footer-overlay {
        top: -20px;
    }

    .forms {
        padding-top: 0;
        padding-bottom: 0;
    }

    .map-overlay {
        top: 30%;
    }

    .footer__details {
        padding: 0;
    }

    .portfolio_footer-text {
        padding-top: 60px;
    }

    .forms__row-2 {
        margin: 30px auto;
        width: 50%;
    }

    .email {
        width: 45%;
    }

    .forms__row-1 {
        display: block;
        text-align: -webkit-center;
    }

    .form__row-1 {
        width: 50%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .form__row-1:last-child {
        margin-bottom: 0;
    }

    .find {
        margin-right: 20px;
    }
}

/*iPad (768px) and smaller: */
@media screen and (max-width: 768px) {
    .service_row {
        flex-direction: column;
    }

    .service_col {
        flex-direction: column;
    }

    .service_icons {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .ideas-text {
        max-width: none;
        margin-bottom: 30px;
    }

    .service_col-right {
        max-width: none;
        justify-content: space-around;
    }

    .featured-projects_submit-container {
        display: block;
    }

    .submit {
        margin-top: 13px;
    }

    .small-subtitle_left {
        padding: 30px 0;
    }

    .manager_left {
        max-width: 250px;
    }

    .mention_right {
        max-width: 100%;
        margin-right: 0;
    }

    .email {
        width: 55%;
    }

    .submit_active {
        width: 25%;
    }

    .find_us {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .find {
        width: calc(50% - 40px);
        background-color: #fff;
        margin-bottom: 40px;
    }

    .find:last-child {
        margin-bottom: 0;
    }

    .price {
        margin-right: 30px;
    }

    .mention_right {
        padding: 50px 10px 0;
    }

    .about-us_left {
        max-width: 400px;
    }

}

/*mobile devices: */
@media screen and (max-width: 640px) {
    .container {
        padding: 15px;
    }

    header {
        display: block;
        text-align: center;
    }

    .navigation {
        padding: 20px 0;
        line-height: 40px;
    }

    .about-us_container {
        display: block;
    }

    .about-us_right {
        padding-top: 40px;
    }

    .details_small-subtitle, .details_col__left {
        margin-left: 0;
        width: 100%;
        max-width: none;
    }

    .details_row {
        display: block;
    }

    .details_col__right {
        max-width: 100%;
        margin-left: 0;
        padding-top: 20px;
    }

    .featured-projects_thumbnails {
        display: block;
    }

    .thumbnail-item__1, .thumbnail-item__2, .thumbnail-item__3 {
        width: 100%;
    }

    .featured-projects_submit-container {
        padding: 50px;
    }

    .manager_right img {
        width: 300px;
        height: 250px;
    }

    .manager_right {
        margin-top: 35px;
        text-align: center;
    }

    .text_size__xl {
        font-size: 15px;
    }

    .manager_right-text {
        top: 0;
    }

    .portfolio_text {
        padding: 30px 0;
    }

    .portfolio_pictures {
        padding: 0;
        column-count: 1;
    }

    .text_size__m {
        font-size: 15px;
    }

    .portfolio_footer {
        margin: 0 0;
    }

    .team_container {
        display: block;
    }

    .team_left {
        margin: 0 auto;
    }

    .contact_us-text {
        padding: 30px 0;
    }

    .text_blog-comments {
        margin-left: 0;
        max-width: 250px;
    }

    .text_blog-left {
        padding: 40px 0;
        max-width: 250px;
    }

    .prices {
        display: block;
    }

    .price {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 200px;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .price:last-child {
        margin-bottom: 0;
    }

    .price_blog-text p {
        margin: 0;
        padding: 20px;
    }

    .price_blog-text {
        min-height: 130px;
        order: 2;
    }

    .price_blog-2 {
        order: 1;
    }

    .email {
        /*padding-right: 143px;*/
        margin-bottom: 20px;
        width: 90%;
    }

    .submit_active {
        padding: 15px;
        width: 90%;
    }

    .find_us {
        display: block;
    }

    .find {
        max-height: 300px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .find:last-child {
        margin-bottom: 0;
    }

    .service_col-right {
        display: block;
    }

    .service_col-right section {
        margin-bottom: 20px;
    }

    .forms__row-1 {
        text-align: left;
    }

    .form__row-1 {
        width: 100%;
    }

    .forms__row-2 {
        width: 100%;

    }

    .main-background {
        background-position: 35% 70%;
    }

    .subtitle {
        text-align: center;
        padding-top: 15px;
    }

    .about-us_text {
        padding-top: 30px;
        text-align: left;
    }

    .about-us_right {
        text-align: center;
    }

    .about-us_left,
    .small-subtitle {
        text-align: center;
    }

    .details_text {
        padding: 30px 0;
    }

    .details_small-subtitle {
        padding: 35px 0;
    }

    .featured-projects_text {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .service-text {
        padding: 30px;
    }

    .team_text {
        padding-top: 30px;
    }

    .team_container {
        padding: 30px 0;
    }

    .mention_text {
        padding: 30px 0;
    }

    .mention_left {
        padding-left: 0;
    }

    .text_white {
        padding-top: 15px;
    }

    .featured-projects_submit {
        height: 200px;
    }

    .submit {
        margin-top: 25px;
    }

    .circle-chart {
        width: 40%;
        height: 40%;
    }

    .manager_bg {
        min-height: 550px;
    }

    .manager_container {
        display: block;
    }

    .manager_left {
        width: 100%;
        max-width: none;
    }

    .text__white-grey {
        padding: 15px 0 30px;
        text-align: center;
    }

    .team_right-details {
        max-width: 430px;
        text-align: center;
        padding-right: 0;
    }

    .line {
        padding-right: 0;
        text-align: center;
    }

    .portfolio_footer-overlay {
        top: 20px;
    }

    .portfolio_footer-overlay a {
        margin-top: 0;
    }

    .portfolio_footer-text {
        padding-top: 40px;
    }
}

/*iPhone 5/5S: */
@media screen and (max-width: 320px) {

}
